body {
  margin: 0;
  height: 100%; 
  width: 100%;
  position: fixed;
  min-height: 100%;
}

.main {
  width: 33%;
  max-width: 50em;
  min-width: 262px;
  margin: 8% 0 0 44%;
  font-family: lato,ubuntu,sans-serif;
  font-weight: 200;
  color: black;
  animation: fadein 1s cubic-bezier(.12,.98,.38,1);
  position: relative;
}

/* Background Image */

#bg_wrapper{
	overflow: hidden;
}

#bg {
  position: absolute;
  height: 110vh; 
  width: 100vw;
  overflow: hidden;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  background-image: url('Louvre.jpg');
  z-index: -1
}
html { 
  background: url(images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}